.nuevo-producto {
    display: "absolute";
    gap: 0px;
    align-items: center;
}

.nuevo-producto img {
    background-color: black;
    height: 12px;
    width: 25px;
}


.nuevo-producto h3{
    width: 130px;
}

#total, #vacio{
    text-align: center;
}



.escondido{
    display: none;
}